@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0059b2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001e3c;
}

#ripple {
  background-position: center;
  transition: background 0.5s;
  border: none;
  cursor: pointer;
}
#ripple:hover {
  background: radial-gradient(circle, transparent 1%, #efefef3c 1%)
    center/15000%;
}
#ripple:active {
  background-size: 100%;
  transition: background 0s;
}
.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #ededed;
}
.st2 {
  fill: #d3f0fd;
}
.st3 {
  fill: #fc8a8a;
}
.st4 {
  fill: #f96364;
}
.st5 {
  fill: #fcb0b0;
}
.st6 {
  fill: #a8b1b3;
}
.st7 {
  fill: #7c8b8e;
}
.st8 {
  fill: #7bde9e;
}
.st9 {
  fill: #51d27f;
}
.st10 {
  fill: #a7eabf;
}
.st11 {
  fill: #333333;
}
.st12 {
  fill: #d3d9d9;
}
.st13 {
  fill: #a8b2b4;
}
.st14 {
  fill: #fedd8e;
}
.st15 {
  fill: #fee9b4;
}
.st16 {
  fill: #fdd367;
}
