@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0059b2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001e3c;
}

#ripple {
  background-position: center;
  transition: background 0.5s;
  border: none;
  cursor: pointer;
}
#ripple:hover {
  background: radial-gradient(circle, transparent 1%, #efefef3c 1%)
    center/15000%;
}
#ripple:active {
  background-size: 100%;
  transition: background 0s;
}
